@use 'base' as *;

// Workspace widget

box.workspaces {
  background: $base;
  border-radius: $radius;

  > button {
    color: $text;
    border-radius: $radius;
    min-width: 42px;
    @include py-1;
    transition: all 300ms ease-in-out;

    &:hover {
      color: $lavender;
      background: rgba($lavender, 0.12);
    }

    &.active {
      color: $crust;
      background: linear-gradient(90deg, $pink 0%, $mauve 100%);
    }

    &.urgent {
      color: $red;
      background: rgba($red, 0.12);
    }

    &.empty {
      color: $surface1;

      &:hover {
        background: $surface0;
      }
    }

    &.empty.active {
      color: $surface2;
      background: $surface0;
    }
  }
}
