@use 'base' as *;
@use 'calendar';
@use 'clock';
@use 'mpris';
@use 'pacman';
@use 'workspaces';

button.quick-settings {
  border-radius: $radius;
  @include px-4;

  & > box > image.audio {
    color: $blue;
  }

  & > box > image.network {
    color: $teal;
  }

  & > box > image.battery {
    color: $green;
  }

  &:hover {
    background: $base;
  }
}
